@font-face {
  font-family: OdinFont;
  src: url(/Norse-Bold.otf);
}
:root{
  --background-color: rgb(182, 186, 174)
}

body{
  padding: 0;
  margin: 0;
  height: 100vh;
  
}

a:link{
  color: rgb(232, 234, 243);
  text-decoration: none;
}

input {
  width : 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0.15rem #E5E7EB solid;
  border-radius: 0.4rem;
  padding: 0.1rem;
}

#flexbody{
  display: flex;


}

#leftside{
  background-image: url("/tom-caillarec-vxguCBMc4dg-unsplash.jpg");
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  
}

#leftside>footer{
  margin-top: auto;
  margin-bottom: 0.5rem;
  color: rgb(149, 153, 167)
  
}

#odinLogo{
  display: flex;
  color: darkgrey;
  background-color: rgba(149, 153, 167, 0.5);
  align-items: center;
  font-family: OdinFont;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 10vh;
}

#odinLogo>img{
  width: 8vw ;
  /* height: auto; */
}

#rightside{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

#flexForm input:focus{
  border: 0.16rem solid rgb(91, 91, 131);
  outline: none;
}

#flexForm input:invalid{
  border: 0.16rem solid rgb(241, 72, 72);
  outline: none;
}

#flexForm input:valid{
  border: 0.16rem solid rgb(115, 228, 23);
  outline: none;
}

#flexForm{
  display: flex;
  justify-content:flex-start;
  background-color: beige;
  padding-left: 2rem;
  letter-spacing: 0.03rem;
  box-shadow: 0px 10px 5px 0px rgba(137, 117, 93, 0.59);
}

#firstColumn{
  padding-right: 5rem;
}

label{
  display: block;
  padding-bottom: 0.4rem;
}

#headerRight{
  padding: 10vh 25vw 5vh 5vw;
  font-size: 1rem;
}

button[type="submit"]{
  background-color: rgb(63, 95, 62);
  margin: 5vh 5vh 0 5vh;
  box-shadow: 0px 5px 5px 0px rgba(137, 117, 93, 0.59);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: azure;
}

button[type="submit"]+p{
  margin-left: 5vh;
}

#rightside>footer{
  margin-top: auto;
  margin-left: 25vw;
}

#errorMsg{
  margin-top: 1vh;
  color:red;
  font-size: 1rem;
}